[user]
	email = zankia@protonmail.com
	name = zankia
[color]
	ui = true
[core]
	editor = vim
[push]
	default = simple
[merge]
	tool = vimdiff
[alias]
	hist = log --graph --all --abbrev-commit
	sync = fetch --all --prune
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
